[user]
	name = mfaine
	email = "mark.faine@nasa.gov"
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pl = pull
	pu = push
	st = status -s
	sta = status
	conf = config --global --edit
	cge = config --global --edit
	ci = commit
	co = checkout
	cod = checkout .
	rh = reset HEAD
	aa = add -A
	cdf = clean -df
	br = branch
	bra = branch -a
	pr = pull --rebase
	amend = commit -a --amend --no-edit
	ciam = commit -a --amend --no-edit
	preserve-permissions-save = =
	preserve-permissions-restore = =
	preserve-permissions-check = =
	up = "!git remote update -p; git merge --ff-only @{u}"
  dh = "!git diff HEAD \"$1\" #"
[mergetool "nvim"]
  cmd = !nvim +DiffviewOpen +tabonly
  trustExitCode = true
[merge]
	ff = only
	tool = nvim
[push]
	default = simple
[pull]
	rebase = true
	ff = only
	autostash = true
[core]
	filemode = true
	eol = lf
	whitespace = tab-in-indent
	excludesFile = ~/.gitignore_global
	editor = vim
[preserve-permissions]
	user = true
	group = true
	autosave = true
[merge "ours"]
	driver = true
[init]
	defaultBranch = main
[http]
	sslVerify = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /volume1/tools/plexupdate
