[alias]
  lg = log -10 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  slg = log --reverse -10 --pretty=format:"%h%x09%an%x09%ad%x09%s"
	pl = pull
	pu = push
	st = status -s
	sta = status
	conf = config --global --edit
	cge = config --global --edit
	ci = commit
	co = checkout
	cod = checkout .
	rh = reset HEAD
	aa = add -A
	cdf = clean -df
	br = branch
	bra = branch -a
	pr = pull --rebase
	amend = commit -a --amend --no-edit
	ciam = commit -a --amend --no-edit
	preserve-permissions-save = =
	preserve-permissions-restore = =
	preserve-permissions-check = =
	up = "!git remote update -p; git merge --ff-only @{u}"
  dh = "!git diff HEAD \"$1\" #"
[mergetool "nvim"]
  cmd = !nvim +DiffviewOpen +tabonly
  trustExitCode = true
[merge]
	ff = only
	tool = nvim
[push]
	default = simple
[pull]
	rebase = true
	ff = only
	autostash = true
[core]
	filemode = true
	eol = lf
	whitespace = tab-in-indent
	excludesFile = ~/.gitignore_global
	editor = vim
[preserve-permissions]
	user = true
	group = true
	autosave = true
[merge "ours"]
	driver = true
[init]
	defaultBranch = main
[http]
	sslVerify = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /home/mfaine/.config/dotfiles
	directory = /home/mfaine/.config/dotfiles
[user]
	email = mark.faine@pm.me
	name = Mark Faine
[color "status"]
	branch = 12 normal
	added = 10 normal
	updated = 10 normal
	localbranch = 12 normal
	changed = 11 normal
	header = normal
	remotebranch = 6 normal
	nobranch = 1 normal
	unmerged = 9 normal
	untracked = 8 normal
[color "branch"]
	plain = normal
	remote = 6 normal
	current = 15 4
	local = 12 normal
	upstream = 6 normal
[color "remote"]
	hint = 8 normal
	success = 10 normal
	error = 9 normal
	warning = 11 normal
[color "interactive"]
	header = 8 normal bold
	prompt = 15 4
	help = 8 normal
	error = 9 normal
[color "diff"]
	commit = 3 normal
	newMoved = 15 5
	oldMovedAlternativeDimmed = 15 8 dim
	frag = 8 normal
	oldMovedAlternative = 15 8
	contextBold = normal bold
	newBold = 15 2 bold
	context = normal
	contextDimmed = normal dim
	oldMoved = 15 3
	oldBold = 15 1 bold
	newMovedDimmed = 15 5 dim
	func = 8 normal
	meta = 8 normal
	newDimmed = 15 2 dim
	newMovedAlternative = 15 4
	new = 15 2
	newMovedAlternativeDimmed = 15 4 dim
	whitespace = normal 9
	oldMovedDimmed = 15 3 dim
	oldDimmed = 15 1 dim
	old = 15 1
[color "decorate"]
	branch = 12 normal
	tag = 5 normal
	remotebranch = 6 normal
	stash = 3 normal
	grafted = 1 normal
	HEAD = 7 4
[diff]
	colorMoved = zebra
