# ## Ansible managed
#shellcheck shell=bash
# ## Clear + typos
alias c='clear'
alias claer='clear'
alias clar='clear'

# ## MV
alias mv='mv -i'

# Typo or cd
alias cd..='cd ..'

# Configure editor
alias svim="/usr/bin/vi" # stock vim
if command -v nvim &>/dev/null; then
   export EDITOR=nvim
   alias vim="\$EDITOR"
   alias vi="\$EDITOR"
fi

# Tmux alias
if command -v tmuxinator &>/dev/null; then
    alias mux="tmuxinator"
fi

# Trash
alias trm='trash-put'

# ## Disk Space
alias df='df -kTh'
alias du='du -kh'       # Makes a more readable output.

# ## History
alias h='history'

# ## Jobs
alias j='jobs -l'

# ## Paging + typos
alias moer='more'
alias moew='more'
alias more='less'
alias tial='tail'

# ## LS + typos
alias ls='ls --color'
alias kk='ll'
alias ls-la='ls -la'

# ## Processes + typos
alias ps='ps -ef'

# ## Command is better
alias which='command -v'

# ## Gawk if better, if available
if command -v gawk >/dev/null 2>&1; then
    alias awk='gawk'
fi

# ## What is my path?
alias mypath='echo -e ${PATH//:/\\n}'

# ## Git
alias git='git --no-pager'
alias gits='git status'                                     # Git Status
alias gitcfg='git config --list --show-origin --show-scope' #Show config options

# ## Vim check for errors
alias checkvimrc="vim -q fakefile >/dev/null 2>/tmp/checkforerrors; grep -q -F 'Error detected while processing ' /tmp/checkforerrors && echo '.vimrc syntax is bad' || echo '.vimrc syntax is good!!'; rm -f /tmp/checkforerrors"

# ## Grep
alias grep='rg -IN -uuu'

# ## TMUX
# ## Tmux should always be tmux -2
alias tmux='tmux -T 256'

# ## Docker
alias dockerps='docker ps -a --format="table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.Command}}\t{{.Status}}"'

# ## Restart shell
alias sbrc='exec bash'
alias zbrc='exec zsh'
