# User Command Aliases File {{{

# Neovim/Vim {{{

# Configure vim as equivalent to EDITOR value  {{{
export EDITOR=vi
if command -v nvim &>/dev/null; then
    alias vim='nvim'
    alias vi='nvim'
    export EDITOR=nvim
fi
# End Configure vim as equivalent to EDITOR value }}}

# Configure a backup neovim config {{{
# I always have an old config that I use as a backup in case I break something
alias oldvim='NVIM_APPNAME=oldvim nvim'
# End Configure a backup neovim config }}}

# Configure stock nvim editor alias {{{
# This allows me to use stock vim 
alias svim="/usr/bin/vi" # stock vim
# End Configure stock nvim editor alias }}}

# End Neovim/Vim }}}

# Alias for cd command + typo protection {{{
alias cd..='cd ..'
# End Alias for cd command + typo protection }}}

# Alias for clear command + typo protection {{{
alias c='clear'
alias claer='clear'
alias clar='clear'
# End Alias for clear command + typo protection }}}

# Disk Space related command aliases {{{
alias df='df -kTh'
alias du='du -kh'       # Makes a more readable output.
# End Disk Space related command aliases }}}

# History related command aliases {{{
alias h='history'
# End History related command aliases }}}

# Job related command aliases {{{
alias j='jobs -l'
# End Job related command aliases }}}

# systemctl/journalctl related command aliases {{{
alias journalctl='journalctl'
if [[ "${WT_SESSION:-}" != "" ]]; then
    alias journalctl='journalctl --no-pager -xeu'
fi
function jcu(){
    local unit
    unit="$1"
    if [[ -z "$unit" ]]; then
      printf "Need a service name\n"
    else 
        journalctl -xfu "$unit"
    fi

}
alias jc='journalctl -xn'
alias jcf='journalctl -xf'
# End Journalctl related command aliases }}}

# Aliases for pager command + typo protection {{{
alias moer='more'
alias moew='more'
alias more='less'
alias tial='tail'
# End Aliases for pager command + typo protection }}}

# Alias for ls command + typo protection {{{
if command -v exa &>/dev/null; then
    alias ls='exa'
fi
alias ll='ls -la'
alias ls='ls --color'
alias kk='ll'
alias ls-la='ls -la'
# End Alias for ls command + typo protection }}}

# Alias for mv command + typo protection {{{
alias mv='mv -i'
# End Alias for mv command + typo protection }}}

# Alias for ps command + typo protection {{{
alias ps='ps -ef'
# End Alias for ps command + typo protection }}}

# Aliases for trash commands {{{
alias trm='trash-put'
alias trl='trash-list'
# End Aliases for trash commands }}}

# Command is better than which {{{
alias which='command -v'
# End Command is better than which }}}

# Gawk if better, if available {{{
if command -v gawk >/dev/null 2>&1; then
    alias awk='gawk'
fi
# End Gawk if better, if available }}}

# Print my path {{{
alias mypath='echo -e ${PATH//:/\\n}'
# End Print my path }}}

# Alias for git/gh/gitlab-search commands + typo protection {{{
alias git='git --no-pager'
alias gits='git status' # Git Status
alias gitcfg='git config --list --show-origin --show-scope' #Show config options
alias gitlab-search='gls'

# Requires doppler and a template
alias gls='doppler run --mount ~/.gitlabsearchrc --mount-template ~/.gitlabsearchrc.tmpl -- gitlab-search'

# End Alias for git/gh/gitlab-search commands + typo protection }}}

# Alias for grep-like commands + typo protection {{{
alias rgrep='rg -IN -uuu'
# End Alias for grep-like commands + typo protection }}}

# Tmux should always be started as 'tmux -2' {{{
alias tmux='tmux -T 256'
# End Tmux should always be started as 'tmux -2' }}}

# Alias for docker commands + typo protection {{{
alias dockerps='docker ps -a --format="table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.Command}}\t{{.Status}}"'
# End Alias for docker commands + typo protection }}}

# Alias for npx-based commands + typo protection {{{

# File Formatting commands + typo protection {{{
alias prettier='npx prettier'
# End File Formatting commands + typo protection }}}

# End Alias for npx-based commands + typo protection }}}

# Restart shell {{{
alias zbrc='exec zsh'
# End Restart shell }}}

# End User Aliases File }}}
