# Start configuration added by Zim install {{{

# Modules
# Sets sane Zsh built-in environment options.
zmodule environment

# Mise
zmodule mise

## Git
# Provides handy git aliases and functions.
zmodule git
# Exposes git repository status information to prompts, used by asciiship.
zmodule git-info

# Applies correct bindkeys for input events.
zmodule input

# Sets a custom terminal title.
zmodule termtitle

# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

# Ruby
zmodule ruby

# Exposes to prompts how long the last command took to execute, used by asciiship.
zmodule duration-info

# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src

# Should be initialized almost last 
zmodule prompt-pwd
zmodule gitster
zmodule joke/zim-gopass
zmodule ssh
zmodule fzf
zmodule archive
zmodule magic-enter
zmodule joke/zim-yq

# Syntax highlighting
#zsh-users/zsh-syntax-highlighting must be sourced after completion
#zmodule zsh-users/zsh-syntax-highlighting

# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

# Theme
zmodule bira

# Zoxide
zmodule kiesman99/zim-zoxide

# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion

# }}} End configuration added by Zim install
